.title_1, .title_2, .post_1_title,
.post_2_title,
.post_3_title, .title_3, .bottom_title, .footer_title {
  font-family: "Red Hat Display", sans-serif;
  color: #000;
}

* {
  box-sizing: border-box;
  padding: 0;
}

ul,
ol,
dl {
  padding-left: 0;
  margin: 0 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

html,
body {
  margin: 0;
  font-family: Lato, sans-serif;
  font-size: 16px;
}

body {
  color: #565656;
  min-height: 100vh;
}

.header,
.banner,
.blog,
.footer {
  padding: 0 calc(50vw - 585px);
}
@media screen and (max-width: 1200px) {
  .header,
  .banner,
  .blog,
  .footer {
    padding: 0 calc(50vw - (585px - 12%));
  }
}
@media screen and (max-width: 992px) {
  .header,
  .banner,
  .blog,
  .footer {
    padding: 0 calc(50vw - (585px - 27%));
  }
}
@media screen and (max-width: 768px) {
  .header,
  .banner,
  .blog,
  .footer {
    padding: 0 15px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.8vw;
  padding-top: 42px;
  padding-bottom: 42px;
}
@media screen and (max-width: 992px) {
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.nav {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}
@media screen and (max-width: 992px) {
  .nav {
    order: 2;
    flex-grow: 0;
  }
}

.menu {
  display: flex;
  gap: 2.3vw;
  padding: 0 30px;
}
@media screen and (max-width: 992px) {
  .menu {
    position: absolute;
    right: 0;
    top: 70px;
    width: 340px;
    opacity: 0;
    flex-direction: column;
    z-index: 2;
    background: #85b4c7;
    padding: 0 0;
    gap: 0;
    transition: all 0.5s;
  }
}
@media screen and (max-width: 992px) {
  .menu_item {
    text-align: center;
    padding: 10px 0;
    border: 1px solid #e5d9d9;
  }
}
.menu_link {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-size: 0.875rem;
  letter-spacing: 0.3em;
  font-weight: 400;
}
.menu_link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: -14px;
  transform: translateX(10%);
  width: 0;
  height: 1px;
  opacity: 0;
  background: #000;
  transition: all 0.55s;
}
.menu_link:hover::after {
  left: 0;
  transform: translateX(12%);
  width: 76%;
  opacity: 1;
}

.burger {
  display: none;
}
@media screen and (max-width: 992px) {
  .burger:checked ~ .menu {
    opacity: 1;
  }
  .burger:checked ~ .burger_img {
    transform: rotate(405deg);
    transition: all 0.35s;
  }
  .burger:checked ~ .burger_img::before {
    opacity: 0;
  }
  .burger:checked ~ .burger_img::after {
    top: 0;
    transform: rotate(90deg);
  }
}
.burger_img {
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 992px) {
  .burger_img {
    display: inline-block;
    position: relative;
    top: -3px;
    width: 34px;
    height: 2px;
    background-color: #000;
    vertical-align: middle;
  }
  .burger_img::after, .burger_img::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    top: 10px;
  }
  .burger_img::after {
    top: -10px;
  }
}

.banner {
  background-image: url(../assets/img/bg-image_mob.jpg);
  background-size: cover;
  height: 500px;
  padding-top: 70px;
  margin-bottom: 70px;
}

.title_1 {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.67;
}

.title_2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 1.33;
  text-align: center;
  margin-bottom: 50px;
}

.post_1,
.post_2,
.post_3 {
  margin-bottom: 50px;
}
.post_1_desc,
.post_2_desc,
.post_3_desc {
  position: relative;
  margin-bottom: 30px;
}
.post_1_sub_title, .post_1_date,
.post_2_sub_title,
.post_2_date,
.post_3_sub_title,
.post_3_date {
  line-height: 1.66;
  letter-spacing: 0.1em;
  color: #7b7b7b;
  text-transform: capitalize;
}
.post_1_sub_title,
.post_2_sub_title,
.post_3_sub_title {
  margin-bottom: 30px;
}
.post_1_date,
.post_2_date,
.post_3_date {
  margin-bottom: 40px;
}
.post_1_title,
.post_2_title,
.post_3_title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.66;
  letter-spacing: 0.1em;
}
.post_1_title_cont,
.post_2_title_cont,
.post_3_title_cont {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.post_1_text,
.post_2_text,
.post_3_text {
  line-height: 1.66;
  letter-spacing: 0.05em;
}

.post_link {
  display: inline-block;
  height: 12px;
  width: 18px;
  position: absolute;
  bottom: 12px;
  right: 3%;
  cursor: pointer;
}

.post_2_desc,
.post_3_desc {
  margin-top: 25px;
}
.post_2_sub_title, .post_2_date,
.post_3_sub_title,
.post_3_date {
  margin: 0;
}
.post_2_sub_title_cont,
.post_3_sub_title_cont {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.post_2_title,
.post_3_title {
  margin-top: 0;
  margin-bottom: 20px;
}

.post_3_sub_title_cont {
  margin-bottom: 12px;
}
.post_3_title {
  font-weight: 600;
  margin-bottom: 10px;
}

.title_3 {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.29;
}

.title_sub {
  position: relative;
  line-height: 1.66;
  letter-spacing: 0.1em;
  color: #7b7b7b;
  text-transform: capitalize;
}

.title_cont {
  margin-bottom: 25px;
}

.btn_cont {
  display: flex;
  justify-content: center;
}

.btn_load {
  margin-bottom: 70px;
  padding: 10px 45px;
  border: none;
  background-color: #565656;
  color: #fff;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.66;
  letter-spacing: 0.1em;
}

.bottom {
  padding-bottom: 70px;
}
.bottom_title {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.66;
  letter-spacing: 0.1em;
  position: relative;
  margin-bottom: 50px;
}
.bottom_text {
  font-size: 18px;
  line-height: 1.78;
  letter-spacing: 0.05em;
}
.bottom_icon {
  display: block;
}

.footer {
  background-color: #f4f4f4;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.footer_title {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 0.05em;
}
.footer_text {
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.1em;
  color: #000;
}
.footer_text:nth-of-type(1) {
  margin-bottom: 15px;
}
.footer_list {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  gap: 23px;
}
.footer_link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border: 1px solid #565656;
}
.footer_link:hover .footer_icon {
  fill: #ffffff;
  stroke: #fff;
}
.footer_link:hover {
  background-color: #565656;
}
.footer_rights {
  font-size: 16px;
}/*# sourceMappingURL=main.css.map */