.title_1, .title_2, .post_1_title,
.post_2_title,
.post_3_title, .title_3, .bottom_title, .footer_title {
  font-family: "Red Hat Display", sans-serif;
  color: #000;
}

.post_1_sub_title,
.post_2_sub_title,
.post_3_sub_title, .post_1_date,
.post_2_date,
.post_3_date {
  line-height: 1.66;
  letter-spacing: 0.1em;
  font-weight: 400;
  color: #7b7b7b;
  text-transform: capitalize;
}
@media screen and (min-width: 768px) {
  .post_1_sub_title,
  .post_2_sub_title,
  .post_3_sub_title, .post_1_date,
  .post_2_date,
  .post_3_date {
    line-height: 1.4;
  }
}

.post_link, .title_link, .bottom_link {
  position: absolute;
  display: inline-block;
  height: 12px;
  width: 21px;
  bottom: 3%;
  right: 3%;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  padding: 0;
}

ul,
ol,
dl {
  padding-left: 0;
  margin: 0 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

html,
body {
  margin: 0;
  font-family: Lato, sans-serif;
  font-size: 16px;
}

body {
  color: #565656;
  min-height: 100vh;
}

.header,
.banner,
.blog,
.footer {
  padding: 0 calc(50vw - 585px);
}
@media screen and (max-width: 1200px) {
  .header,
  .banner,
  .blog,
  .footer {
    padding: 0 calc(50vw - (585px - 12%));
  }
}
@media screen and (max-width: 992px) {
  .header,
  .banner,
  .blog,
  .footer {
    padding: 0 34px;
  }
}
@media screen and (max-width: 767px) {
  .header,
  .banner,
  .blog,
  .footer {
    padding: 0 15px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.8vw;
  padding-top: 42px;
  padding-bottom: 42px;
}
@media screen and (max-width: 769px) {
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.nav {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}
@media screen and (max-width: 769px) {
  .nav {
    order: 2;
    flex-grow: 0;
  }
}

.menu {
  display: flex;
  gap: 2.3vw;
  padding: 0 30px;
}
@media screen and (max-width: 992px) {
  .menu {
    position: absolute;
    right: -100%;
    top: 74px;
    width: 340px;
    height: 100%;
    opacity: 0;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 2;
    background: #8acdd4;
    padding: 0 0;
    gap: 10px;
    transition: all 0.5s;
  }
}
.menu_item:hover .menu_link {
  color: #fff;
}
@media screen and (max-width: 992px) {
  .menu_item {
    text-align: center;
    padding: 20px 0;
  }
}
.menu_link {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-size: 0.875rem;
  letter-spacing: 0.3em;
  font-weight: 400;
}
.menu_link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: -14px;
  transform: translateX(10%);
  width: 0;
  height: 1px;
  opacity: 0;
  background: #000;
  transition: all 0.55s;
}
.menu_link:hover::after {
  left: 0;
  transform: translateX(12%);
  width: 76%;
  opacity: 1;
}

.burger {
  display: none;
}
@media screen and (max-width: 992px) {
  .burger:checked ~ .menu {
    opacity: 1;
    right: 0;
  }
  .burger:checked ~ .burger_img {
    transform: rotate(405deg);
    transition: all 0.35s;
  }
  .burger:checked ~ .burger_img::before {
    opacity: 0;
  }
  .burger:checked ~ .burger_img::after {
    top: 0;
    transform: rotate(90deg);
  }
}
.burger_img {
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 992px) {
  .burger_img {
    display: inline-block;
    position: relative;
    top: 10px;
    width: 34px;
    height: 2px;
    background-color: #000;
    vertical-align: middle;
  }
  .burger_img::after, .burger_img::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    top: 10px;
  }
  .burger_img::after {
    top: -10px;
  }
}

.search {
  margin-right: 54px;
}
@media screen and (min-width: 321px) and (max-width: 1439px) {
  .search {
    margin-right: 74px;
  }
}

.banner {
  background-image: url(../assets/img/bg-image_mob.jpg);
  background-size: cover;
  height: 500px;
  padding-top: 70px;
  margin-bottom: 70px;
}
@media screen and (min-width: 768px) {
  .banner {
    background-image: url(../assets/img/bg-image.jpg);
    padding-top: 30px;
  }
}

.title_1 {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.67;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 768px) {
  .title_1 {
    font-size: 36px;
    line-height: 1.39;
  }
}

.title_2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 1.33;
  text-align: center;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .title_2 {
    text-align: start;
  }
}

.section {
  margin-bottom: 70px;
}

.post_1,
.post_2,
.post_3 {
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .post_1,
  .post_2,
  .post_3 {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .post_1:last-of-type,
  .post_2:last-of-type,
  .post_3:last-of-type {
    margin-bottom: 0;
  }
}
.post_1_desc,
.post_2_desc,
.post_3_desc {
  position: relative;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .post_1_desc,
  .post_2_desc,
  .post_3_desc {
    max-width: 340px;
    max-height: 280px;
    overflow: hidden;
    margin-bottom: 0;
  }
}
.post_1_sub_title,
.post_2_sub_title,
.post_3_sub_title {
  margin-bottom: 30px;
}
.post_1_date,
.post_2_date,
.post_3_date {
  margin-bottom: 40px;
}
.post_1_title,
.post_2_title,
.post_3_title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.66;
  letter-spacing: 0.1em;
}
@media screen and (min-width: 768px) {
  .post_1_title,
  .post_2_title,
  .post_3_title {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 23px;
  }
}
.post_1_title_cont,
.post_2_title_cont,
.post_3_title_cont {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.post_1_text,
.post_2_text,
.post_3_text {
  line-height: 1.66;
  letter-spacing: 0.05em;
}

@media screen and (min-width: 768px) {
  .post_link {
    bottom: 1%;
  }
}

@media screen and (min-width: 768px) {
  .img {
    width: 340px;
    height: 280px;
  }
}
@media screen and (min-width: 768px) {
  .img_wide {
    width: 340px;
  }
}

.post_img {
  text-align: center;
}
.post_img_l {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .post_img_l {
    order: -1;
  }
}
.post_img_r {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .post_img_r {
    order: 2;
  }
}

@media screen and (min-width: 768px) {
  .post_2,
  .post_3 {
    margin-bottom: 30px;
  }
}
.post_2_desc,
.post_3_desc {
  margin-top: 25px;
}
@media screen and (min-width: 768px) {
  .post_2_desc,
  .post_3_desc {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.post_2_sub_title, .post_2_date,
.post_3_sub_title,
.post_3_date {
  margin: 0;
}
@media screen and (min-width: 768px) {
  .post_2_sub_title, .post_2_date,
  .post_3_sub_title,
  .post_3_date {
    font-size: 12px;
  }
}
.post_2_sub_title_cont,
.post_3_sub_title_cont {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.post_2_title,
.post_3_title {
  margin-top: 0;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .post_3 {
    flex-direction: column;
    justify-content: flex-start;
  }
}
.post_3_sub_title_cont {
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .post_3_sub_title_cont {
    margin-bottom: 20px;
  }
}
.post_3_title {
  font-weight: 600;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .post_3_title {
    margin-bottom: 20px;
    font-weight: 500;
  }
}

@media screen and (min-width: 768px) {
  .cont_flex {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 50px;
  }
}

.title_3 {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.29;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 768px) {
  .title_3 {
    letter-spacing: 0.1em;
  }
}

.title_sub {
  line-height: 1.66;
  letter-spacing: 0.1em;
  color: #7b7b7b;
  text-transform: capitalize;
}
@media screen and (min-width: 768px) {
  .title_sub {
    margin-right: 43px;
  }
}

.title_link {
  bottom: 15%;
}
@media screen and (min-width: 768px) {
  .title_link {
    bottom: 40%;
    right: 0;
  }
}

.title_cont {
  margin-bottom: 25px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .title_cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }
}

.btn_cont {
  display: flex;
  justify-content: center;
}

.btn_load {
  padding: 10px 45px;
  border: none;
  background-color: #565656;
  color: #fff;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.66;
  letter-spacing: 0.1em;
}

.bottom_title {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.66;
  letter-spacing: 0.1em;
  position: relative;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .bottom_title {
    margin-bottom: 70px;
  }
}
.bottom_link {
  left: 0;
  bottom: -10%;
}
@media screen and (min-width: 768px) {
  .bottom_link {
    bottom: -40%;
  }
}
.bottom_text {
  font-size: 18px;
  line-height: 1.78;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 768px) {
  .bottom_text {
    text-align: end;
    font-size: 19px;
    line-height: 1.68;
  }
}
.bottom_icon {
  display: block;
}

.footer {
  background-color: #f4f4f4;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.footer_title {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 768px) {
  .footer_title {
    font-size: 48px;
    line-height: 1.33;
  }
}
.footer_text {
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.1em;
  color: #000;
}
.footer_text:nth-of-type(1) {
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .footer_text {
    font-size: 16px;
  }
}
.footer_list {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  gap: 23px;
}
.footer_link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border: 1px solid #565656;
}
.footer_icon {
  fill: #565656;
}
.footer_link:hover .footer_icon {
  fill: #fff;
}
.footer_link:hover {
  background-color: #565656;
}
.footer_rights {
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  .footer_rights {
    font-size: 12px;
    line-height: 1.66;
  }
}/*# sourceMappingURL=main.css.map */