@import url('./vars.css');
@import url('./normalize.css');

body {
    font-family: Montserrat, sans-serif;
    font-size: var(--main-font-size);
}

h1, h2, h3, h4, p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.header {
    padding-top: 17px;
    padding-bottom: 17px;
    margin-bottom: 70px;
}

.container {
    margin: 0 auto;
    width: 1200px;
}

.flex_container {
    display:flex;
    justify-content: space-between;
}

.nav {
    display: flex;
    gap:20px;
    align-items: center;
}   

.nav_link {
    color: var(--text-color);
}

.nav_link:active, 
.nav_link:hover,
.footer_list_item:hover {
    cursor: pointer;
    color: var(--accent-color);
}

.button {
    padding: 13px 26px;
    font-weight: 600;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    background-color: inherit;
}

.button_wrapper > .button:first-child {
    margin-right: 32px;
}

.filled,
.button:hover {
    background-color: var(--accent-color);
    color: #fff;
    border: 1px solid transparent;
}

.section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

.text_wrapper {
    width: 510px;
    line-height: 1.63;
}

.hero_title {
    font-size: 44px;
    margin-bottom: 30px;
    line-height: 1.23;
}

.hero_text {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.55;
}

.hero_picture {
    width: 644px;
    height: 495px;
    background: url(../img/image.png) no-repeat center, url(../img/Oval.png) no-repeat center;
}

.features {
    margin-bottom: 100px;
    padding-bottom: 74px;
    text-align: center;
    position: relative;
  z-index: 1;
}

.features::after {
    content: '';
  position: absolute;
  top: 0;
  left: -23%;
  width: 140%;
  height: 100%;
  background: linear-gradient(#fff4e500, #ffe5d2b9);
  border-bottom-left-radius: 50% 75%;
    border-bottom-right-radius: 50% 75%;
  z-index: -1;
}

.features_title {
    margin: 0 auto 50px;
    text-align: center;
    width: 539px;
    font-size: 36px;
}

.features_list {
    display: flex;
    gap: 40px;
    margin-bottom: 60px;
}

.features_item {
    width: 270px;
    text-align: start;
}

.features_icon {
    margin-bottom: 30px;
}

.features_item_title {
    margin-bottom: 16px;
    font-size: 22px;
    font-weight: 600;
}

.features_item_text {
    line-height: 1.63;
}

.section_title {
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 1.23;
}

.section_list {
    margin-top: 40px;
}

.list_item:not(:last-child) {
    margin-bottom: 30px;
}

.item_title {
    margin-bottom: 10px;
}

.product_item_text {
    width: 440px;
}

.footer {
    padding: 70px 0;
    border-top: 1px solid #bcd0e588;
    line-height: 1.55;
}

.footer_title {
    line-height: 1.5;
    font-weight: 700;
}

.flex_column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 209px;
}

.footer_list_item:not(:last-child) {
    margin-bottom: 15px;
}

.form {
    width: 340px;
    align-items: flex-start;
}

.input {
    box-sizing: border-box;
    padding: 15px 10px;
    width: 100%;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
}