@import url("./vars.css");
@import url("./normalize.css");
@import url("./weather-icons.min.css");
@font-face {
    font-family: "Lucida Sans Unicode";
    src: url(../font/l_10646.ttf) format('ttf');
}

body {
    font-family: Lucida Sans Unicode, sans-serif;
  font-size: var(--main-font-size);
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 1440px;
}

.weather {
  background: #3399cc;
  padding-top: 60px;
  border: 25px solid #2b81ac;
}

.content_wrapper {
  max-width: 1170px;
  margin: 0 auto;
  color: #fff;
}

.weather_title {
  font-size: 21px;
  font-weight: 400;
  margin-right: 4px;
}

.cities {
  max-width: 1170px;
  margin: 35px auto;
  border: 2px solid #fff;
  font-size: 0;
}

.city {
  display: inline-block;
  width: 25%;
  opacity: 0.7;
  font-size: 22px;
  border: 2px solid #fff;
  box-sizing: border-box;
  padding-top: 26px;
  padding-bottom: 27px;
  transition: all 0.1s ease-in;
}

.city:hover {
  opacity: 1;
  cursor: pointer;
}

.city_title {
  font-weight: 400;
  margin-bottom: 19px;
}

.city_wrapper {
  text-align: center;
  height: 94px;
}

.forcast > p,
.forcast > i {
  display: inline-block;
  vertical-align: middle;
}

.forcast > p {
  margin-right: 12px;
}

.city_half {
  width: 50%;
}

.city_full {
  width: 100%;
}

.cities > li:first-child {
  background-color: #3399cc;
}

.cities > li:nth-child(2) {
  background-color: #33cccc;
}

.cities > li:nth-child(3) {
  background-color: #996699;
}

.cities > li:nth-child(4) {
  background-color: #c24747;
}

.cities > li:nth-child(5) {
  background-color: #e2674a;
}

.cities > li:nth-child(6) {
  background-color: #ffcc66;
}

.cities > li:nth-child(7) {
  background-color: #99cc99;
}

.cities > li:nth-child(8) {
  background-color: #669999;
}

.cities > li:nth-child(9) {
  background-color: #cc6699;
}

.cities > li:nth-child(10) {
  background-color: #339966;
}

.cities > li:nth-child(11) {
  background-color: #666699;
}

.wi {
  margin-right: 12px;
  font-size: 43px;
}

.wi-sunrise {
  font-size: 26px;
}

.bottom_text {
  margin-bottom: 119px;
  font-size: 16px;
}
