@import url("./vars.css");
@import url("./normalize.css");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    color: #000000;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr minmax(300px, auto);
}

.header {
  background: #0b524d ;
    padding: 14px 0;
}

.title {
    font-family: "Delius Unicase", cursive;
    font-weight: 500;
    font-size: 1.6rem;
    margin-top: 120px;
    margin-bottom: 80px;
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 370px); 
    gap: 30px;
    margin: 50px 0;
}

.gallery_item {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.45s linear;

}

.gallery_img {
  filter: contrast(0.5);
}

.item_icon_wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  opacity: 0;
  transition: all 0.45s linear;
}

.icon_cont {
  height: 40px;
  width: 40px;
  background-color: #E0E0E0;
  border-radius: 8px;
  opacity: 0.5;
}

.icon_cont:hover {
  opacity: 1;
}

.icon {
  padding: 9px;
}

.item_text_wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: #f3f3ed;
  background: linear-gradient(360deg, #241F24, transparent);
  opacity: 0;
  transition: all 0.45s linear;
}

.item_author {
  font-size: 20px;
}

.item_date {
    font-size: 20px;
    font-weight: 400;
}
.gallery_item:hover .gallery_img {
    filter: none;
}

.gallery_item:hover .item_text_wrapper,
.gallery_item:hover .item_icon_wrapper {
  opacity: 1;
}

.item_col-2 {
    grid-column: span 2;
}

.item_row-2 {
    grid-row: span 2;
}

.gallery_4_rows {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 370px); 
    gap: 30px;
}

