:root {
    --accent-color: #FF8984;
    --header-color: #4A4F56;
    --main-background-color: #3B3F45;
    --item-backgroun-light: #88839E;
    --item-backgroun-dark: #7A7593;
    --main-font-size: 18px;
}