:root {
    --main-font-family: 'Roboto', sans-serif;
    --main-font-size: 15px;
    --main-font-color: #545454;

    --main-background: #F7F7F7;
    
    --container-width: 1200px;

    --accent-color: #007BFF;
    --border-color: #E4E4E4;

    --main-border-radius: 6px;
}