$background-color: #fff;
$container-width: 1170px;
$text-color:  #666;
$accent-color: #fc0;
$font-raleway: "Raleway", sans-serif;
$font-roboto:  "Roboto", sans-serif;
$font-open-sans: "Open Sans", sans-serif;